

<h2><%= @shelter.name %></h2>
<p><%= @shelter.address %></p>
<p><%= @shelter.city %></p>
<p><%= @shelter.state %></p>
<p><%= @shelter.zip %></p></br>

<%= link_to "Pets at This Shelter", "/shelters/#{@shelter.id}/pets/" %> </br></br>

<%= link_to "Update Shelter", "/shelters/#{@shelter.id}/edit" %> </br></br>

<%= button_to "Delete Shelter", "/shelters/#{@shelter.id}", method: :delete %></br></br>

<h3>Reviews</h3>

<%= link_to "Add New Review", "/shelters/#{@shelter.id}/reviews/new" %>

<% @shelter.reviews.each do |review| %>

  <h3> <%=  link_to review.title, "/shelters/#{@shelter.id}/reviews/#{review.id}" %>  </h3>

  <p><%= review.rating %></p>
  <p><%= review.content %></p>
  <img src="<%= review.image %>" alt="<% "review_#{review.id}" %>">
  <p><%= review.shelter_id %></p>
  <p><%=  link_to 'Edit Review', "/reviews/#{review.id}/edit" %></p>
  <p><%=  link_to 'Delete Review', "/reviews/#{review.id}", method: :delete %></p>
<% end %>
