<a href="/">Home</a> || <a href="/shelters">Shelter Index</a> || <a href="/pets">Pet Index</a> || <a href="/reviews">Reviews Index</a> 

<h1><%= @shelter.name %></h1>
<p><%= @shelter.address %></p>
<p><%= @shelter.city %></p>
<p><%= @shelter.state %></p>
<p><%= @shelter.zip %></p></br>

<%= link_to "Pets At This Shelter", "/shelters/#{@shelter.id}/pets/" %> </br></br>

<%= link_to "Update Shelter", "/shelters/#{@shelter.id}/edit" %> </br></br>

<%= button_to "Delete Shelter", "/shelters/#{@shelter.id}", method: :delete %></br></br></br>

<%= link_to "All Reviews of This Shelter", "/shelters/#{@shelter.id}/reviews/" %> </br></br>
