<a href="/">Home</a> || <a href="/shelters">Shelter Index</a> || <a href="/pets">Pet Index</a>

<h1><%= @pet.name %></h1>

<p><%= @pet.image %></p>

<p><%= @pet.approximate_age %></p>

<p><%= @pet.sex %></p>

<p><%= @pet.shelter_id %></p>
