 || <a href="/">Home</a> || <a href="/pets">Pet Index</a> || <a href="/shelters">Shelter Index</a> || <a href="/reviews">Reviews Index</a> || <a href="/favorites">Favorites</a> 
</br></br>
<a href="javascript:history.back()">Go Back</a> ||

<h1><%= @pet.image %></h1>
<h2><%= @pet.name %></h2>
<h2><%= @pet.description %></h2>
<h2><%= @pet.approximate_age %></h2>
<h2><%= @pet.sex %></h2>
<h2><%= @pet.adoption_status %></h2>

<a href="/pets/<%= @pet.id %>/edit">Update Pet</a><br/><br/>



<%= button_to "Delete Pet", "/pets/#{@pet.id}", method: :delete %></br></br></br>
