<a href="/">Home</a>  || <a href="/pets">Pet Index</a> || <a href="/shelters">Shelter Index</a> || <a href="/reviews">Reviews Index</a> 

<h1>Editing Review</h1>

<form action="/reviews/<%= @review.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH" />
  <p>Please Put In The Review's New Information</p>
  Title:<br/>
  <input type='text' name='review[name]' value="<%= @review.title %>"/><br/>
  Rating:<br/>
  <textarea name='review[age]'><%= @review.rating %></textarea><br/>
  Content:<br/>
  <textarea name='review[sex]'><%= @review.content %></textarea><br/>
  Image:<br/>
  Shelter ID:<br/>
  <textarea name='review[shelter_id]'><%= @review.shelter_id %></textarea><br/>
  Image:<br/>
  <textarea name='review[image]'><%= @review.image %></textarea><br/>
  <input type='submit'/>
</form>
