<a href="/">Home</a>  || <a href="/pets">Pet Index</a> || <a href="/shelters">Shelter Index</a> || <a href="/reviews">Reviews Index</a> || <a href="/favorites">Favorites</a>
</br></br> ||
<a href="javascript:history.back()">Go Back</a> ||

<h1><%= @shelter.name %> Reviews</h1>

<%= link_to "Create Review", "/shelters/#{@shelter.id}/review/new" %>

<% @reviews.each do |review| %>

  <h3> <%=  link_to review.title, "/shelters/#{@shelter.id}/reviews/#{review.id}" %>  </h3>

  <p><%= review.rating %></p>
  <p><%= review.content %></p>
  <p><img src="<%= review.image %>" alt="<% "review_#{review.id}" %>"></p>
  <p><%= review.shelter_id %></p>
<% end %>



<h3><a href="<%= review.id %>"><%= review.title %></a>
