

<a href="/">Home</a> || <a href="/pets">Pet Index</a> || <a href="/shelters">Shelter Index</a>

<h1><%= @review.title %></h1>
<h2><%= @review.rating %></h2>
<h2><%= @review.content %></h2>
<h2><%= @review.image %></h2>


<a href="/reviews/<%= @review.id %>/edit">Update Review</a><br/><br/>
