
<h1><%= @review.title %></h1>
<h2><%= @review.rating %></h2>
<h2><%= @review.content %></h2>
<p><img src="<%= @review.image %>" alt="<% "review_#{@review.id}" %>"></p>


<a href="/reviews/<%= @review.id %>/edit">Update Review</a><br/><br/>


<%= button_to "Delete Review", "/reviews/#{@review.id}", method: :delete %></br></br></br>
