<a href="/">Home</a> || <a href="/shelters">Shelter Index</a> || <a href="/pets">Pet Index</a> || <a href="/reviews">Reviews Index</a> || <a href="/favorites">Favorites</a>
</br></br> ||
<a href="javascript:history.back()">Go Back</a> ||

<h1>Pets at the <%= @shelter.name %> Shelter</h1>

<%= link_to "Create Pet", "/shelters/#{@shelter.id}/pets/new" %>

<% @pets.each do |pet| %>
  <h3><a href="<%= pet.id %>"><%= pet.name %></a></h3>
  <p><%= pet.image %></p>
  <p><%= pet.approximate_age %></p>
  <p><%= pet.sex %></p>
  <p><%= pet.shelter_id %></p>
  <%= button_to "Add Pet To Favorites", "/favorites/#{pet.id}", method: :patch %>
<% end %>
