<a href="/">Home</a> || <a href="/shelters">Shelter Index</a> || <a href="/pets">Pet Index</a> || <a href="/reviews">Reviews Index</a> || <a href="/favorites">Favorites</a>
</br></br> ||
<a href="javascript:history.back()">Go Back</a> ||

<h1>Pets at the <%= @shelter.name %> Shelter</h1>

<%= link_to "Create Pet", "/shelters/#{@shelter.id}/pets/new" %>

<% @shelter.pets.each do |pet| %>
  <section id="pet-<%= pet.id %>">

    <h3> <%=  link_to pet.name, "/shelters/#{@shelter.id}/pets/#{pet.id}" %>  </h3>


    <h3><%= pet.image %></h3>
    <p><%= pet.approximate_age %></p>
    <p><%= pet.sex %></p>
    <p><%= pet.shelter.name %></p>
    <%= button_to "Add Pet To Favorites", "/favorites/#{pet.id}", method: :patch %>
  </section>
<% end %>
