<p id="notice"><%= notice %></p>

<a href="/">Home</a> || <a href="/pets">Pet Index</a> || <a href="/shelters">Shelter Index</a>

<h1><%= @pet.image %></h1>
<h2><%= @pet.name %></h2>
<h2><%= @pet.description %></h2>
<h2><%= @pet.approximate_age %></h2>
<h2><%= @pet.sex %></h2>
<h2><%= @pet.adoption_status %></h2>

<a href="/pets/<%= @pet.id %>/edit">Update Pet</a><br/><br/>
<%= link_to "Update Pet", "/pets/pet.id/edit" %>
