<!DOCTYPE html>
<html>
  <head>
    <title>Adopt Don't Shop Paired</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% flash.each do |type, message| %>
        <section class=<%= type %>>
          <p><%= message %></p>
        </section>
    <% end %>

    <p>Favorites: <%= @favorites.total_count %> </p>
  <%= yield %>
  </body>
</html>
