<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShopPaired</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>


<%# this should eventually work without the 'if' block %>
<% if @favorites %>
  <p>Favorites: <%= @favorites.total_count %> </p>
<% end %>


  <body>
    <% flash.each do |name, message| %>
      <div class='alert alert-<%= name %>'></div>
        <%= message %>
    <% end%>
    <%= yield %>
  </body>
</html>
